.App {
  text-align: center;
}

.App-header {
  background-color: #121212;
  color: #D3D3D3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /*to align the items vertically*/
  justify-content: center;
}

#time {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 1rem;
  font-size: 10rem;
} 
